
/* other something color */

/* main text color */
$mtc: #333333;

/* main background color */
$mbgc: #EFEFEF;

/* main font-size: 14px */
$mfs: 16px;

/* browser scroll color example: */
$scrollbarBgc: rgba(255, 255, 255, .6);
$scrl-thubm:rgba(95, 95, 95, .4);
$scrl-thubm--hover:rgba(95, 95, 95, .4);
