.all-listbox {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  .allist-year-railing {
    padding: 6px 15px;
    border-radius: 4px;
    background: #9FB6cD;
    border-left: 6px solid #1874cd;
    box-shadow: 0 5px 5px #9FB6CD;
  }
  li {
    line-height: 160%;
  }
  li, a{
    color: #333;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
